@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

body {
  background-image: url("https://i.pinimg.com/originals/43/69/c7/4369c70f12ebfe37f52981f5559243ba.jpg");
  background-size: cover;
  font-family: "Oswald", sans-serif;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #000000;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 500px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 24px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 400;
  border-radius: 100px;
  background: #c0c0c0;
  padding: 8px 16px;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #ff8c00 27.49%, #ffd700 83.19%);
  border-radius: 20px;
  margin-top: 32px;
  padding: 32px;
  box-shadow: 6px 6px 6px #000000;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400px;
  line-height: 50px;
}

.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background-image: url("https://a-static.besthdwallpaper.com/demon-slayer-zenitsu-agatsuma-first-form-thunderclap-wallpaper-2304x768-72213_103.jpg");
  background-size: cover;
}

.dark .container {
  background: #333439;
  color: #f7f7f7;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}